/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

/public/images/vendor
composer.lock
package-lock.json
.DS_Store
.idea
.phpintel
Thumbs.db
public/assets/css/*
public/assets/js/*
public/web.config
public/css
public/js
public/fonts
_source/diagram.mwb.bak
resources/views/vendor
public/info.php
config/debugbar.php
yarn.lock
/storage/debugbar
mix-manifest.json